---
title: Home
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <meta charset="utf-8">
    <title> {% unless page.title == 'Home' %}
        {{ page.title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endunless %}
    </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | theme_image_url }}" >
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'custom.css' | stylesheet_tag }}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% inline_editor %}
  </head>

  <body>        
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=768733519836273&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container wrap">

      {% block 'navbar' %}
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                <img src="{{ 'web_logo.png' | theme_image_url }}" alt="quench logo" class="logo-image">
              </a>
            </div>
            {% comment %} <ul class="nav navbar-nav social-media-nav"> {% endcomment %}
            {% comment %}   <li> {% endcomment %}
            {% comment %}     <a href="https://www.facebook.com/QuenchJuiceryLLC"><img src="{{ 'facebook.png' | theme_image_url }}" alt="facebook logo"></a> {% endcomment %}
            {% comment %}     <a href="#"><img src="{{ 'twitter.png' | theme_image_url }}" alt="twitter logo"></a> {% endcomment %}
            {% comment %}     <a href="#"><img src="{{ 'instagram.png' | theme_image_url }}" alt="instagram logo"></a> {% endcomment %}
            {% comment %}   </li> {% endcomment %}
            {% comment %} </ul> {% endcomment %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/menu">Menu</a></li>
              <li><a href="/about">About Us</a></li>
            </ul>
          </div>
        </nav>
      {% endblock %}

      {% block 'main' %}

    {% capture slider_photo_1 %}{% editable_file 'photo_1' %}/samples/pages/quench_jars.jpg{% endeditable_file %}{% endcapture %}
    {% capture slider_photo_2 %}{% editable_file 'photo_2' %}/samples/pages/quench.jpg{% endeditable_file %}{% endcapture %}
    {% capture slider_photo_3 %}{% editable_file 'photo_3' %}/samples/pages/em_juicing.jpg{% endeditable_file %}{% endcapture %}
    {% capture slider_photo_4 %}{% editable_file 'photo_4' %}/samples/pages/pat_juicing_grass.jpg{% endeditable_file %}{% endcapture %}
    {% capture slider_photo_5 %}{% editable_file 'photo_5' %}/samples/pages/em_serving.jpg{% endeditable_file %}{% endcapture %}

        <div class="row">
          <div class="col-md-7">
            <div class="intro-slider" id="slidr-img">
              <img data-slidr="one" src="{{ slider_photo_1 | resize: '620x' }}">
              <img data-slidr="two" src="{{ slider_photo_2 | resize: '620x' }}">
              <img data-slidr="three" src="{{ slider_photo_3 | resize: '620x' }}">
              <img data-slidr="four" src="{{ slider_photo_4 | resize: '620x' }}">
              <img data-slidr="five" src="{{ slider_photo_5 | resize: '620x' }}">
            </div>
          </div>

          <div class="col-md-5 intro">

            <section class="intro-section">

              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="http://quench-juicery.us8.list-manage.com/subscribe/post?u=6be4c9dd7830d338992b4d739&amp;id=fccdfc9162" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  {% editable_text 'signup-text' %}
                    <label for="mce-EMAIL">Sign up for our mailing list</label>
                  {% endeditable_text %}
                  {% editable_text 'signup-subtext %}
                    <span class="deals">&nbsp; * Get special deals and offers</span>
                  {% endeditable_text %}
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_6be4c9dd7830d338992b4d739_fccdfc9162" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>
              </div>
              <!--End mc_embed_signup-->

              <div class="fb-like-box" data-href="https://www.facebook.com/QuenchJuiceryLLC" data-height="478" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </section>
          </div>
        </div>


      {% endblock %}

    </div>

      {% block 'footer' %}

        <div class="container">
          <footer class="main-footer">
            <div> 
              {% editable_text 'footer', fixed: true %}
                <ul class="list-unstyled footer-nav-list">
                  <li><strong>M-F</strong> 7-7pm &nbsp;<strong>Sat</strong> 9-7pm &nbsp;<strong>Sun</strong> 9-7pm</li>
                  <li><a href="https://goo.gl/maps/PwVs6">76A Front Street Scituate, MA 02066</a></li>
                  <li><a href="mailto:quenchjuiceryllc@gmail.com">quenchjuiceryllc@gmail.com</a> &nbsp; | &nbsp; <a href="tel:+17815450211">781-545-0211</a></li>
                  <li><small>Copyright &copy; Quench Juicery. All rights reserved.</small></li>
                </ul>
              {% endeditable_text %}
            </div>
          </footer>
        </div>

      {% endblock %}

    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'slidr.min.js' | javascript_tag }}
    {{ 'custom.js' | javascript_tag }}
    <script type='text/javascript'>
      $(document).ready(function() {
      });
    </script>
  </body>
</html>
