---
title: Menu

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-stacked menu-nav col-md-2">
      {% assign type = '' %}
      {% for product in contents.products %}{% if product.type != type %}
        {% assign type = product.type %}
        {% if group.type == 'smoothie' %}
          {% assign class = 'active' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"><a href="#{{ product.type }}" data-toggle="tab">{{ product.type | capitalize }}</a></li>
      {% endif %}{% endfor %}
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    {% assign type = '' %}
    {% for group in contents.products %}{% if group.type != type %}
      {% assign type = group.type %}
      {% if group.type == 'smoothie' %}
        {% assign classes = 'fade in active' %}
      {% else %}
        {% assign classes = '' %}
      {% endif %}
        <div class="menu-container col-md-10 fade tab-pane {{ classes }}" id="{{ group.type }}">
        <table class="table menu">
          {% for product in contents.products %}{% if product.type == group.type %}
            <tr>
              <th>{{ product.title }}</th>
              {% unless product.description == '' %}
                <td class="description"><span class="star">* </span><span>{{ product.description }}</span></td>
              {% endunless %}
            </tr>
          {% endif %}{% endfor %}
        </table>
      </div>
    {% endif %}{% endfor %}
  </div>

{% endblock %}
